#datapath {
    width: 100%;
    background: #262626;
    box-sizing: border-box;
    position: fixed;
    height: 100%;
    padding-left: 200px;
    padding-right: 200px;
    top: 0;
    left: 0;
}

#registers {
    background: #262626;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    font-family: monospace;
    overflow: auto;
    border-bottom: 1px solid #555;
    width: 200px;
    height: 70%;
    position: fixed;
    right: 0;
    top: 0;
}

#memory {
    overflow: hidden;
    font-family: monospace;
    width: 200px;
    height: 30%;
    position: fixed;
    right: 0;
    bottom: 0;
}
#editor_container {
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
}

.datapath_button {
    display: inline-block;
    padding: 5px;
    background: #262626;
    cursor: pointer;
    color: cadetblue;
    text-align: center;
    width: 20%;
    border: 1px solid #444;
    box-sizing: border-box;
}

#datapath_on_load_click_input {
    width: 100%;
    border: none;
    color: #fff;
    background: #333;
    resize: none;
    font-family: monospace;
    height: 40px;
}